@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;

.gallery-page {
  @include flex(column, center, center);
  @include padding($all: $page-padding);
  gap: $page-gap;

  .gallery-header {
    @include width-height($width: 100%);
    @include flex(row, center, center);

    h1 {
      @include margin($all: 0);
      @include font($size: 2.5rem, $weight: 400, $color: $blue-color);
    }
  }

  .gallery-content {
    @include width-height($width: 100%);

    .image-slider-container {
      @include margin($left: auto, $right: auto);
      @include width-height($height: $image-slider-container-height);
      max-width: $image-slider-container-width;
    }
  }

  .gallery-footer {
    @include width-height($width: 100%);
    @include flex(row, center, center);

    .image-slider-hint {
      @include flex(row, center, flex-start);
      @include width-height($width: 100%);
      max-width: $image-slider-container-width;
      @include margin($left: auto, $right: auto);

      p {
        @include margin($all: 0);
        @include font($size: 0.875rem, $color: $gray-color);
      }
    }
  }
}
