// Global styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #213547;
  background-color: #ffffff;
}

#root {
  min-height: 100vh;
}
